
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<title>Contact / Connections in PayMyBuddy</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/my.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<div class="container-outer">

		<div class="container">
			<div class="header">
				<a href="#default" class="logo"><img alt="logo"
					src="img/logo.png"></a>
				<div class="header-right">
					<a href="#" th:href="@{/home}">Home</a> <a href="#" 
						th:href="@{/transaction}">Buddy-Transfer </a> <a href="#"
						th:href="@{/profile}">Profile</a> <a href="#" class="active"
						th:href="@{/contact}">Contact</a> <a href="#" th:href="@{/logout}">Log
						off</a>
				</div>
			</div>



    <div class="subMenu">
    <div class="subMenu">
      <a class="aHome" th:href="@{/home}"><span style="color:rgb(0, 101, 202); font-size:1.0em; font-weight: normal;">Home</a>
      <a> / </a>
      <a th:href="@{/contact}"><span style="color:rgb(192, 192, 192); font-size:1.0em; font-weight: normal;">Contact</a>
    </div>
    <br>
    <div class="send">
      <div class="send-a">
        <a>Contact List</a>
      </div>
    </div>
    <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style=" color:red; font-style:italic ; font-weight: bold; "> </div>

    <div class="consTrans3" style="overflow:scroll;  height: 200px;">

      <table class="table">
        <thead>
        <tr class="panel-th" >
          <th width="30%"  style="font-style:italic; font-size:14px; color:#707070; ">Email</th>
          <th width="50%" style="font-style:italic; font-size:14px; color:#707070; ">LastName</th>
          <th width="20%" style="font-style:italic; font-size:14px; color:#707070; ">FirstName</th>
          <th ></th>
        </thead>
        </tr>
        <tbody>
        <tr th:each ="contact : ${contacts}">
          <td th:utext="${contact.contact.email}">...</td>
          <td th:utext="${contact.contact.userName}">...</td>
          <td th:utext="${contact.contact.firstName}">...</td>
          <td>

            <a class="btn btn-danger" onclick="return confirm( 'Are you sure you want to delete?')"
               th:href="@{/deleteContact(idContact=${contact.idContact})}">Delete</a>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="send">
      <div class="description">
        <form th:action="@{contact}" method="get">
          <div class="form-group" align="left">
              <label>Search Contact:</label>
              <input type="text" name="motCle"/>
              <button type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
<br/>

       <div class="consTrans3">

         <table class="table">
           <thead>
           <tr class="panel-th" >
             <th width="30%"  style="font-style:italic; font-size:14px; color:#707070; ">Email</th>
             <th width="50%" style="font-style:italic; font-size:14px; color:#707070; ">LastName</th>
             <th width="20%" style="font-style:italic; font-size:14px; color:#707070; ">FirstName</th>
             <th ></th>
           </thead>
           </tr>
           <tbody>
           <tr th:each ="notContact : ${notContacts}">
             <td th:utext="${notContact.email}">...</td>
             <td th:utext="${notContact.userName}">...</td>
             <td th:utext="${notContact.firstName}">...</td>
             <td>
               <a class="btn btn-connect" onclick="return confirm( ' You are sure add connection?')"
                  th:href="@{/addContact(idContact=${notContact.id})}">Add Connection</a>
             </td>
           </tr>
           </tbody>
         </table>

         <ul class="nav nav-pills" >
           <li  th:class="${currentPage==status.index?'active':''}" th:each="page,status:${pages}">
             <a th:href="@{/contact(page=${status.index},motCle=${motCle})}" th:text="${status.index}"></a>
           </li>
         </ul>

  			</div>

			</br>
			<footer>
				<p style="font-style: italic; font-size: 15px">Footer</p>
			</footer>
		</div>
	
</body>
</div>
</html>