
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<title>Sign Up in PayMyBuddy</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/my.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<div class="container-outer">

		<div class="container">
			<div class="header">
				<a href="#default" class="logo"><img alt="logo"
					src="img/logo.png"></a>
				<div class="header-right">
					<a class="active" href="#" th:href="@{/home}">Home</a> <a href="#"
						th:href="@{/transaction}">Buddy-Transfer </a> <a href="#"
						th:href="@{/profile}">Profile</a> <a href="#"
						th:href="@{/contact}">Contact</a> <a href="#" th:href="@{/logout}">Log
						off</a>
				</div>
			</div>




			<div>

				<div th:if="${errorMessage}" th:utext="${errorMessage}"
					style="color: red; font-style: italic; font-weight: bold;">...
				</div>

				<div>

					<br /> <br /> <a class="aHome" th:href="@{/home}"><span
						style="color: rgb(0, 101, 202); font-size: 1.2em; font-weight: normal;">Home&nbsp;&nbsp;/&nbsp;&nbsp;</span></a>
				</div>

				<div class="send">
					<div class="send-a">
						<a></a>
						<p style="margin-right: 100px; float: right; color: #707070; font-size: 1.2em; font-weight: normal;" th:text="'Buddy Account Balance Status : ' + ${wallet} + ' €'"></p><br />
					</div>
	
					<span style="color: #000000; font-size: 1.3em; font-weight: bold; ">&nbsp;</span>
					<div class="send-b">
					<p style="float: right; margin-right: 50px; font-size:15px; font-style:italic; " >For Bank Operations click the button here to your right  <span style="font-size:30px;">☛</span> &emsp;
						<a class="button-banktransfer" href="#" th:href="@{/transfer}" style="float: right; font-size:15px"> Bank
							transfer </a></p><br />
					</div>
				</div>
				

					
				<div th:if="${errorMessage}" th:utext="${errorMessage}"
					style="color: red; font-style: italic;">
				</div>
				<div class="createTrans">
					</br>
					<p style="color: #DC7633; font-size: 1.4em; font-weight: bold;" th:text="'Welcome, ' + ${firstName} "></p>

					
				</div>
				<div class="consTrans2">
					<div class="panel-heading" align="left" style="font-style:italic; font-size:14px; color:#404040;"><b>Recent list of Buddy
						transfer operations:</b>
					</div>
					<table class="table">
						<thead>
							<tr class="panel-th">
								<th width="20%" style="font-style:italic; font-size:14px; color:#707070; ">Connections</th>
								<th width="30%" style="font-style:italic; font-size:14px; color:#707070;">Description</th>
								<th width="20%" style="font-style:italic; font-size:14px; color:#707070;">Amount Transfered</th>
								<th width="20%" style="font-style:italic; font-size:14px; color:#707070;">Commision fee</th>
								<th width="20%" style="font-style:italic; font-size:14px; color:#707070;">Amount + Commision</th>
						</thead>
						</tr>
						<tbody>
							<tr th:each="transaction : ${transactions}">
								<td th:utext="${transaction.beneficiary.email}">...</td>
								<td th:utext="${transaction.description}">...</td>
								<td th:utext="'- ' + ${transaction.amount} + ' €' ">...</td>
								<td th:utext="'- ' + ${transaction.commision} + ' €' ">...</td>
								<td th:utext="'- ' + ${transaction.amount + transaction.commision} + ' €' ">...</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="consTrans2">
					<div class="panel-heading" align="left" style="font-style:italic; font-size:14px; color:#404040;"><b>Recent list of
						BANK transfer operations with BuddyTransfer account:</b>
					</div>
					<table class="table">
						<thead>
							<tr class="panel-th">
								<th width="30%" style="font-style:italic; font-size:14px; color:#707070;">Date</th>
								<th width="50%" style="font-style:italic; font-size:14px; color:#707070;">Type</th>
								<th width="20%" style="font-style:italic; font-size:14px; color:#707070;">Amount</th>
						</thead>
						</tr>
						<tbody>
							<tr th:each="transfer : ${transfers}">
								<td th:utext="${transfer.createDate}">...</td>
								<td th:utext="${transfer.type}">...</td>
								<td th:utext="${transfer.type} == 'CREDIT'? '+ ' + ${transfer.amount} + ' €' :  '- ' + ${transfer.amount} + ' €' ">...</td>
							</tr>
						</tbody>
					</table>
				</div>
				
 		<div class="consTrans2">
              <div class="panel-heading" align="left" style="font-style:italic; font-size:14px; color:#404040;"><b>Recent list of transfer operations on amount credited to Buddy Account from other buddy Account (REFUND - PAYBACK ):</b></div>
              <table class="table">
                  <thead>
                  <tr class="panel-th" >
                      <th width="30%"  style="font-style:italic; font-size:14px; color:#707070; ">Payer</th>
                      <th width="50%"  style="font-style:italic; font-size:14px; color:#707070; ">Description</th>
                      <th width="20%"  style="font-style:italic; font-size:14px; color:#707070; ">Amount</th>
                  </thead>
                  </tr>
                  <tbody>
                  <tr th:each ="refund : ${refunds}">
                      <td th:utext="${refund.payer.email}">...</td>
                      <td th:utext="${refund.description}">...</td>
                      <td th:utext="'+ ' + ${refund.amount} + ' €' ">...</td>
                  </tr>
                  </tbody>
              </table>
              
              	<div style="float: right; margin-right: 50px; font-size:15px; font-style:italic; ">
					<br />
					<div >
					<p style="float: right; margin-right: 50px; font-size:15px; font-style:italic; " >Billing Information  <span style="font-size:30px;">☛</span> &emsp;
						<a class="button-billing" href="#" style="float: right; font-size:15px"> Bill Receipts </a></p>
					</div>
				</div>	

			</br>
              
			</br>

			</div>
			</div>
<div>

			</div>
			</div>

		
	</div>
</body>
</html>